/* @import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css"; */

/* @tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
} */

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'relative-pro';
    src: url('../public/fonts/RelativePro-Medium.woff2') format('woff2'),
        url('../public/fonts/RelativePro-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'relative-pro';
    src: url('../public/fonts/RelativePro-Book.woff2') format('woff2'),
        url('../public/fonts/RelativePro-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'relative-mono';
    src: url('../public/fonts/RelativeMonoPro-11Pitch.woff2') format('woff2'),
        url('../public/fonts/RelativeMonoPro-11Pitch.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
